<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h3> UPDATE BLOG</h3>

    <form action="/save-update" th:object="${updateBlog}" method="POST">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td> Blog Title:</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td> Writer:</td>
                <td><input type="text" th:field="*{writer}"></td>
            </tr>
            <tr>
                <td> Category:</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="cate : ${categoryList}" th:value="${cate.id}" th:text="${cate.cateName}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> Posting Day:</td>
                <td><input type="date" th:field="*{postingDay}"></td>
            </tr>
            <tr>
                <td> Content:</td>
                <td><textarea th:field="*{content}"></textarea></td>
            </tr>

        </table>
        <button type="submit"> UPDATE </button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>