<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div>
    <h2>Create blog form</h2>
    <form action="/create" th:object="${blog}" method="post">
        <div>
            <label for="header">Title:</label>
            <input type="text" id="header" th:field="*{title}" >
        </div>
        <div>
            <label for="body">Body:</label>
            <input type="text" id="body" th:field="*{body}">
        </div>
        <div>
            <label for="summary">Summary:</label>
            <input type="text" id="summary" th:field="*{summary}">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>