<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
</head>
<body>
<form action="/music" method="post">
    <fieldset>
        <legend>Music Information</legend>
        <input type="hidden" name="id" th:value="${music.id}">
        <table>
            <tr>
                <td>Id</td>
                <td th:text="${music.id}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" th:value="${music.name}">
                </td>
            </tr>
            <tr>
                <td>Singer</td>
                <td>
                    <input type="text" name="singer" th:value="${music.singer}">
                </td>
            </tr>
            <tr>
                <td>Style</td>
                <td>
                    <input type="text" name="style" th:value="${music.style}">
                </td>
            </tr>
            <tr>
                <td>Link</td>
                <td>
                    <input type="text" name="link" th:value="${music.link}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Update">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<a href="/music">Back to list</a>.
</body>
</html>